@media screen and (max-width: 1023px) {
    .search-icon, .btn-sign-in span{
        display: none !important;
    }
    .nav-left{
        padding: 0 !important;
    }
    .btn-sign-in, .burger-icon {
        padding: 0 16px !important;
    }
}