.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.popup-close {
  cursor: pointer;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("./bitcoin-code.png");
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 550px;
  height: 350px;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  color: white;
}
.popup-header > div > p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  margin: 4px;
  font-family: "Open Sans", sans-serif;
}
.popup-txt {
  text-align: center;
  margin: auto;
}
.popup-body button {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 2000px;
  padding: 9px 20px;
  border-radius: 5px;
  background-color: #e16f26;
  color: white;
  font-family: "Roboto", sans-serif;
  animation: 1s ease 0s infinite normal none running animation-he6h7w;
  cursor: pointer;
  border: none;
}
@keyframes animation-he6h7w {
  0%,
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
