.step1-container img{
    width: -webkit-fill-available;
    margin-top: 10px;
}
.step_one_container{
    width: 100%;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    background: var(--bg-step);
    border: 1px solid var(--step-border);
    text-decoration: none;
    font-family: 'ModalFont';
}
.step_one_container_title{
    margin: 0 0 0 40px;
    font-size: 15px;
    font-style: italic;
    color: var(--text-black);
}
.step_one_container_subtitle{
    font-size: 21px;
    color: var(--text-steps);
    font-size: 15px;
    font-style: italic;
}