.img-with-text {
  text-align: justify;
 
  margin-bottom: 20px;
}
.img-with-text p {
  font-size: 12px;
  margin: 6px 0;
  text-align: center;
}
.img-with-text img {
  max-width: 98%;
  display: block;
  margin: 0 auto;
}
