.img-with-text {
  margin: 30px 0px;
  text-align: justify;
}
.img-with-text p {
  font-size: 12px;
  margin: 6px 0;
  text-align: center;
}
.img-with-text img {
  max-width: 98%;
  display: block;
  margin: 0 auto;
}
