.headerContainer {
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 1130px;
  z-index: 1;
  background-color: white;
  cursor: pointer;
}
.iconSearch {
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-top: 7px;
}
.topHeader {
  background-color: red;
  padding: 12px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.bottomHeader {
  display: flex;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 11px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .popup {
    display: none;
  }
  .bottomHeader {
    display: none;
  }
  .content {
    width: 90%;
  }
  .fimage {
    margin-top: 10px;
    width: -webkit-fill-available;
    margin-bottom: 10px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sidebar {
    display: none;
  }
  .content {
    width: 100%;
  }
}
@media only screen and (min-width: 1224px) {
}
