footer {
  width: 100%;
  background-color: #f6f6f6;
  height: 100%;
  padding-bottom: 100px;
}
.footer-container {
  width: 96%;
  display: flex;
  margin: 2%;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}
.footer-table {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  gap: 8px 0px;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
}
.footer-table-item {
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  width: calc(16.6667%);
  color: black;
  font-family: "Roboto", sans-serif;
}
.footer-rightSide {
  width: 30%;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}
.footer-rightSide span {
  background-color: #9a9898;
  width: 1px;
  margin-right: 20px;
  margin-left: 50px;
  height: 100px;
}
.footer-rightSide-container {
  width: 100%;
}
.footer-rightSide-container img{
  width: 100%;
}
.footer-rightSide-container p {
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1rem;
  color: black;
  text-align: center;
  display: block;
  font-family: "Roboto", sans-serif;
  margin: 5px 0px;
}
@media screen and (max-width: 400px) {
  footer {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .footer-table-item {
    width: calc(50%);
  }
  .footer-container {
    width: 85%;
    margin-left: 7.5%;
  }
  .footer-table {
    width: 60%;
  }
  .footer-rightSide {
    width: 40%;
  }
  .footer-rightSide span {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
 .footer-table {
  width: 100%;
 } 
 .footer-rightSide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .footer-rightSide {
  width: 100%;
 }
 .footer-rightSide img{
  width: 30%;
 }
 .footer-rightSide span{
  display: none;
 }
}