.container {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerContainer {
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 1130px;
}
.iconSearch {
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-top: 7px;
  /* min-height: 20px;
  object-fit: contain; */
}
.topHeader {
  background-color: red;
  padding: 12px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.bottomHeader {
  display: flex;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3px;
  font-size: 13px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.bodyContainer {
  max-width: 1130px;
  width: 100%;
  display: flex;
  margin: 100px auto 0px;
  justify-content: center;
  gap: 0px 15px;
  /* background-color: pink; */
}
.content {
  /* background-color: green; */
  width: 70%;
}
.sidebar {
  /* background-color: yellow; */
  margin-top: 20px;
  width: 30%;
}
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  background-color: pink;
}

.content-text {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
.content-text p {
  color: #1f1f1f;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
