.container {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerContainer {
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 1130px;
  z-index: 1;
  background-color: white;
}
.iconSearch {
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-top: 7px;
  /* min-height: 20px;
  object-fit: contain; */
}
.topHeader {
  background-color: red;
  padding: 12px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.bottomHeader {
  display: flex;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 11px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.bodyContainer {
  max-width: 1130px;
  width: 100%;
  display: flex;
  margin: 100px auto 0px;
  justify-content: center;
  gap: 0px 15px;
  /* background-color: pink; */
}
.content {
  /* background-color: green; */
  width: 70%;
}
.sidebar {
  /* background-color: yellow; */
  margin-top: 20px;
  width: 30%;
}
.content-text {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
.content-text p {
  color: #1f1f1f;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.pregressBar {
  width: 100%;
  height: 4px;
  padding: 1px 0;
  background-color: gray;
  z-index: 9999;
}
.css-10nqdzz {
  width: fit-content;
  display: flex;
  gap: 3px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-1qt2np7 {
  width: 24px;
  height: 3px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
}
.cooment-section {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.cooment-section p:nth-child(1) {
  font-family: Tahoma;
  font-size: 14px;
  margin: 0px;
  line-height: 18px;
  color: rgb(59, 89, 152);
}
.cooment-section p:nth-child(2) {
  font-family: Tahoma;
  font-size: 14px;
  margin: 0px;
  line-height: 18px;
  color: rgb(59, 89, 152);
  font-weight: bold;
}
a {
  color: #0198bd;
  text-decoration: underline;
  font-size: larger;
  font-weight: 600;
}